<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite"> 

  <test thread-count="5" name="Testchrome">
  <parameter name="browser" value="chrome"></parameter>
			    <classes>
				      <class name="com.actitime.test.ActitimeLoginLogout"/>
				      <class name="com.actitime.test.CreatenewCustomer"/>
				      <class name="com.actitime.test.DeleteCreatedCustomer"/>
			    </classes>
  </test> <!-- Test -->
</suite>

